* {
    margin: 0;
}
.container {
    margin-inline: auto;
    max-width: 760px;
    padding-top: 60px;
}
section {
    padding-top: 60px;
    min-height: 640px;
}
body {
    background: url(./assets/background.png) no-repeat top center/cover;
    background-color: #111113;
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
}
.menu {
    text-align: center;
    display: flex;
    padding: auto;
    margin-bottom: 15px;
    padding: 30px;
    background-color: #ccc6c60e;
}
.opcao {
    margin: auto;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    width: 160px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    display: block;
    margin-inline: auto;
    padding: 10px;
    transition: background-color 0.3s, transform 0.3s;
}
.opcao:hover {
    background-color: #11111347;
    transform: scale(1.2);
}
.perfil {
    display: inline-flex;
    width: 50%;
}
.titulo {
    display: inline-flex;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
}
.alinhamentoPerfil {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}
.flecha {
    display: flex;
    margin: 35px;
    max-width: 110px;
    margin-inline: auto;
    animation: moverCimaBaixo 3s infinite;
}
@keyframes moverCimaBaixo {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px); 
    }
    100% {
      transform: translateY(0); 
    }
}
section {
    min-height: 650px;
}
.imagemMateus {
    max-width: 290px;
    margin-bottom: 10px;
}
.tituloSection {
    text-align: center;
    margin: auto;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
.textoSobreMim {
    margin-top: 40px;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: oblique;   
}
.alinhamentoSection {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.adesivoQualificacao {
    max-width: 500px;
}
.textoQualificacao {
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: oblique;
    padding-bottom: 29px;
}
.textoSkills {
    padding-bottom: 29px;
    margin-top: 40px;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: oblique;
}
.icone {
    display: inline-flex;
    margin: 15px;
    margin: 15px;
    width: 16%;
    transition: background-color 0.3s, transform 0.3s;
}
.icone:hover {
    transform: scale(1.2);
}
.espacoSkills {
    padding-bottom: 60px;
}
.certificado {
    display: inline-flex;
    margin: 10px;
    width: 40%;
    transition: background-color 0.3s, transform 0.3s;
}
.certificado:hover {
    transform: scale(1.8);
}
.imagemContato {
    display: inline-flex;
    margin: 10px;
    width: 45%;
}
.redeSocial {
    display: inline-flex;
    margin: 8px;
    margin-top: 20px;
    width: 6%;
    transition: background-color 0.3s, transform 0.3s;
}
.redeSocial:hover {
    transform: scale(1.2);
}
.topo {
    display: block;
    text-align: center;
    margin: auto;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ccc6c60e;
    color: white;
    width: 160px;
    border: 1px solid white;
    transition: background-color 0.3s, transform 0.3s;
}
.topo:hover {
    background-color: #11111347;
    transform: scale(1.2);
}
footer {
    padding: 30px;
    margin-top: 30px;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    background-color: #ccc6c60e;
}
