* {
    margin: 0;
}

.container {
    margin-inline: auto;
    max-width: 760px;
    /*border: 2px solid #fefefe;*/
    padding-top: 60px;
    min-height: 640px;
}

body {
    background: url(./assets/Frame\ 8.png) no-repeat top center/cover;
    background-color: #111113;
    width: 100vw; /* Ocupa 100% da largura da viewport */
    height: 100vh; /* Ocupa 100% da altura da viewport */
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu {
    text-align: center;
    display: flex;
    padding: auto;
    margin-bottom: 60px;
    /*border: 2px solid #fefefe;*/
}

.opcao {
    margin: auto;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}

/*#nome {
    display: inline-flex;
    margin: 8px;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;      
}*/

#perfil {
    display: inline-flex;
    width: 50%;
    /*border: 2px solid #fefefe;*/

}

#titulo {
    display: inline-flex;
    /*border: 2px solid #fefefe;*/
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
}

#alinhamentoPerfil {
    display: flex; /* Alinha os itens #perfil e #titulo lado a lado */
    justify-content: space-between; /* Espaça os itens igualmente */
    align-items: center; /* Centraliza verticalmente os itens */
    width: 100%; /* Garante que o contêiner ocupe toda a largura */
    /*border: 2px solid #fefefe;*/
}

#flecha {
    display: flex;
    margin: 35px;
    max-width: 110px;
    margin-inline: auto;
    
}

#sobremim {
    max-width: 400px;
}

#imagemMateus {
    /*border: 2px solid #fefefe;*/
    max-width: 300px;
    margin-top: 24px;

}

#tituloSobreMim {
    /*border: 2px solid #fefefe;*/
    text-align: center;
    margin: auto;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

#textoSobreMim {
    /*border: 2px solid #fefefe;*/
    margin-top: 60px;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: oblique;

    
}

#alinhamentoSobreMim {
    /*border: 2px solid #fefefe;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-indent: 32px;

}

.topo {
    display: block;
    text-align: center;
    margin: auto;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin: 35px;
    border: 2px solid #fefefe;
    
}